<?xml version="1.0" encoding="UTF-8"?>
<VAST version="2.0">

<Ad id="1469600440">
    
    <Wrapper>
    
        <AdSystem><![CDATA[Ad Serving System]]></AdSystem>
        
        <VASTAdTagURI><![CDATA[
https://bs.serving-sys.com/Serving?cn=display&c=23&pl=VAST&pli=18529215&PluID=64&pos=3537&ord=1469809990448&cim=1]]></VASTAdTagURI>
        <Error><![CDATA[]]></Error>
        
        <Impression><![CDATA[https://imp.adnetwork.vn/247/adServer/act_impression/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/imp_ijew3t88tpl/sid_zworynee1u0/cb_769738633]]></Impression>
        <Impression><![CDATA[https://b.scorecardresearch.com/p?c1=1&c2=12346470&c3=1000000000000000018&c4=fptplay.net&c5=09&c6=VideoOVA&c10=1-4&cv=2.0&cj=1]]></Impression>
        <Impression><![CDATA[https://pix04.revsci.net/F09828/b3/0/3/noscript.gif?D=DM_LOC%3Dhttp%253A%252F%252Ffptplay.net%253FCategory%253D1000000000000000018%2526bpid%253Dambientdigital%26DM_EOM%3D1&C=F09828&L=0]]></Impression>
        
        
        <Creatives>
            <Creative id="1469600440" AdID="1469600440" sequence="1">
                <Linear>
                    <TrackingEvents>
                    
                        <Tracking event="start"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdStartPlayed/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                    
                        <Tracking event="firstQuartile"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdPlayed25/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                    
                        <Tracking event="midpoint"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdPlayed50/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                    
                        <Tracking event="thirdQuartile"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdPlayed75/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                    
                        <Tracking event="complete"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdFullyPlayed/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                    
                        <Tracking event="mute"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdMuted/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                        <Tracking event="unmute"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdUnMuted/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                        <Tracking event="pause"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdPaused/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                        <Tracking event="fullscreen"><![CDATA[https://metrics.adnetwork.vn/247/adServer/act_video_metric/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/vlen_15/vtype_abdFullScreen/imp_ijew3t88tpl/cb_769738633/]]></Tracking>
                    </TrackingEvents>
                    <VideoClicks>
                        
                        <ClickThrough><![CDATA[https://track.adnetwork.vn/247/adServer/act_click/cid_1469587983/bid_1469600440/pid_1335342353/wid_1432262118/zid_1432262200/sid_zworynee1u0/cb_769738633]]></ClickThrough>
                        
                    
                    </VideoClicks>
                    
                    
                </Linear>
                
            </Creative>
            <Creative id="1469600440" AdID="1469600440" sequence="1">
                <CompanionAds></CompanionAds>
            </Creative>
        </Creatives>
    
    </Wrapper>
    
</Ad>

</VAST>